* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* start header section */
   
.hp1-1-ul {
    list-style-type: none;
}
.hp1-1-ul li{
    display: inline;
    padding: 5px;
}
.hp1-2-ul{
    list-style-type: none;
}
.hp1-2-ul li{
    display: inline;
    padding: 5px;
}
.header-panel1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border-bottom: 2px solid gray;
    margin: 5px 20px 5px 20px;
}
li a{
    text-decoration: none;
    color:black ;
    font-size: 12px;
}

.hp1-1-a {
    text-decoration: underline;
    color: blueviolet;
}

ul span{
    font-size: 12px;
}
/* end header section */

/* strat nav section */
.logo {
    height: 50px;
    width: 120px;
    background-image: url("eBay_logo.png");
    background-size: cover;
}
.nav-section{
    height: 50px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
    padding-top: 10px;
}
.searchBar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 20px 0px 20px;
}
.searchBar button{
    width: 170px;
    border: none;
   border-radius: 25px;
   background-color: #3665f3;
   color: white;
   font-size: 16px;
   font-weight: 600;
   padding: 13px;
}
.searchInput {
    height: 40px;
    width: 100%;
    margin-right: 10px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.searchBar input{
    height: 40px;
    width: 80%;
    border: none;
    font-size: 16px;
    
}
.searchBar select{
    height: 40px;
    width: 20%;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid gray;
}
.searchBar i{
    width:50px;
    text-align: right;
    padding-right: 5px;
}
/* end nav section */

/* strat header panel 2*/
.header-panel2 {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
}
.hp2-ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.hp2-ul li{
    display: inline;
    text-align: center;
}
.hp2-ul li a{
    text-decoration: none;
    color: #555555;
    margin-left:20px ;
    font-size: 12px;
   
}

.hp2-ul li a:hover {
    text-decoration: underline;
    color:blue;
}
/* end header panel 2*/

/* strat hero section */
.hero-section {
    height: 330px;
    width: 97%;
    margin: 0px 20px 0px 20px;
    background-color: #4fe162;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

.box-hero {
    height: 330px;
    width: 330px;
}
.image-section-1 {
    height: 330px;
    width: 350px;
    background-image: url("s-l400.webp");
    background-size: contain;
}
.image-section-2 {
    height: 330px;
    width: 350px;
    background-image: url("s-l400\ \(1\).webp");
    background-size: contain;
}
.image-section-3 {
    height: 330px;
    width: 350px;
    background-image: url("s-l400\ \(2\).webp");
    background-size: contain;
}
.text-section .span1 {
    font-size: 30px;
    font-weight: 600;
    color: #1b561a;
    margin-bottom: 30px;
}
.text-section .span2 {
    font-size: 17px;
    color: #1b561a;

}
.text-section {
    height: 330px;
    width: 330px;
    padding-top: 20px;
    line-height: 25px;
    display: block;
}
.text-section button{
    height: 40px;
    border-color: #1b561a;
    color: #1b561a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 200px;
    margin-top: 40px;
    background-color:#4fe162;
}

.text-section button:hover {
    color: #4fe162;
    background-color: #1b561a;
}
/* end hero section */
.section-1 {
    height: 300px;
    margin: 30px 20px 0px 20px;
    padding: 20px;
}
.sec-A {
     height: 32px;
     width: 100%;
    
} 
.sec-A h2 {
    font-size: 24px;
    color:#191919;
}

.sec-B {
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.sec-b, .sec-c,.sec-e, .sec-f, .sec-g, .sec-h {
    text-align: center;
    width: 160px;
}
.luxury {
    width: 160px;
    height: 160px;
    background-image:url("luxury.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.sneakers {
    width: 160px;
    height: 160px;
    background-image:url("sneakers.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.refurbished {
    width: 160px;
    height: 160px;
    background-image:url("refurbished.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.tradingCards {
    width: 160px;
    height: 160px;
    background-image:url("trading\ cards.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.preLoveLuxury {
    width: 160px;
    height: 160px;
    background-image:url("pre-loved\ luxury.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.toys {
    width: 160px;
    height: 160px;
    background-image:url("toys.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.sec-b:hover {
    text-decoration: underline;
}
.sec-c:hover {
    text-decoration: underline;
}
.sec-e:hover {
    text-decoration: underline;
}
.sec-f:hover {
    text-decoration: underline;
}
.sec-g:hover {
    text-decoration: underline;
}
.sec-h:hover {
    text-decoration: underline;
}
/* end section 1 */

/* strat section 2*/
.section-2 {
    height: 330px;
    width: 97%;
    margin: 0px 20px 0px 20px;
    background-color: gainsboro;
    border-radius: 20px;
    display: flex;
}
.image-div {
    height: 330px;
    width: 100%;
    background-image: url("section-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;


}
.text-div {
    height:330px ;
    width: 810px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 40px;
}

.text-div button{
    height: 40px;
    border-color: #191919;
    color: #1b561a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 200px;
    margin-top: 40px;
    background-color:gainsboro;
}

.text-div button:hover {
    color: gainsboro;
    background-color: #191919;}

.text-div .spana {
    color: #191919;
    font-size: 30px;
    font-weight: 600;

}
.text-div .spanb {
    font-size: 17px;
    color: #191919;

}
/* end section 2*/